body{
  background-color: black;
  color: white;
  font-family: Arial;
  padding: 30px; 
  background-image: url('https://wallpapers.com/images/hd/city-night-pictures-cp9ycj5ju5pwff8o.jpg');
  background-position: center;
  background-size: cover;
}

.app{
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}